**_This notebook concentrates on basic data cleaning required to use the data for all the future activities._**

In [0]:
import pandas as pd
import numpy as np

In [0]:
df = pd.read_csv('/Workspace/Users/deepak.guru.ganesan@volvo.com/leovegas/dataset.csv')
df.sort_values(['bet_placement_hour'], inplace=True)

#### Data Cleaning

In [0]:
#Wherever the country is replaced with league, they are interchangedÂ¨
df['temp_league'] = np.where(df['league'].isna(), df['event_country'], df['league']) 
df['event_country'] = np.where(df['league'].isna(), 'Unknown', df['event_country'])
df = df.drop('league', axis=1)
df = df.rename(columns={'temp_league':'league'})

#Tried to create country for the most famous league
df['event_country'] = np.where(df['league'].str.contains('NBA'), 'USA', df['event_country'])

#Removed Milliseconds in teh Event Start date there by solving minor descrepancies with different start time for strange events
df['eventStartDate'] = pd.to_datetime(df['eventStartDate'], format='%Y-%m-%d %H:%M:%S').dt.floor('S')
df['bet_placement_hour'] = pd.to_datetime(df['bet_placement_hour'])

#Different names for same event correction
df['eventName'] = df.groupby('eventId')['eventName'].transform('first')

df.head()

   bet_placement_hour     eventId  ... total_turn_over_EUR league
0          2023-12-01  1020157185  ...           49.582521  NCAAB
36         2023-12-01  1020030711  ...         8841.198662    NBA
37         2023-12-01  1020030716  ...            0.296827    NBA
38         2023-12-01  1019711357  ...           22.363404    NBL
39         2023-12-01  1020030718  ...            8.513354    NBA

[5 rows x 8 columns]

##### Event Start date cleaning

In [0]:
## Seconds Cleaning 
df = df.groupby(['eventId', 'bet_placement_hour','eventName','league','event_country','eventStartDate']).agg({'number_of_bets': 'sum','total_turn_over_EUR': 'sum'}).reset_index()

##EvenStart date hours cleaning
df['eventStartDate'] = df.groupby(['eventId'])["eventStartDate"].transform("max")
df = df.groupby(['eventId', 'bet_placement_hour','eventName','league','event_country','eventStartDate']).agg({'number_of_bets': 'sum','total_turn_over_EUR': 'sum'}).reset_index()

df = df[(df["number_of_bets"] != 0)]  ###Removing rows where the number of bets is 0
print(len(df))

228954

In [0]:
df.to_csv('/Workspace/Users/deepak.guru.ganesan@volvo.com/leovegas/dataset_cleaned.csv')